.level{
    background-color: #f4f4f4;
    border-bottom: solid 1px #bcbcbc;
    width: 100%;
    height: 40px;
    margin: 2px;
    position: relative;
}
.level img{
    position: absolute;
    top: 6px;
    left: 10px;
}
.level .txt{
    height: 28px;
    position: absolute;
    top: 9px;
    left: 40px;
}
.content form table{
    margin: 30px 0 0 40px;
    border-collapse: collapse;
}
.content form table tr td{
    height: 40px;
    background-color: white;
    border: solid 1px #e4e3dc;
}
.content form table tr .title{
    width: 100px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    mso-cellspacing: 0;
}
.content form table tr .edit{
    width: 363px;
    margin-right:500px;
    text-align: left;
    padding-left: 20px;
}
.content form table tr .edit .text{
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}
.content #save{
    color: white;
    background-color: #41e5a0;
    border: solid 1px #000000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 8px 15px;
    margin-left: 170px;
    margin-top: 30px;
}
.content #reset{
    background-color: white;
    border: solid 1px black;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 8px 15px;
    margin-left: 100px;
    margin-top: 30px;
}